.input-fields {
  border: 1px solid rgb(53 50 50 / 79%);
  border-radius: 2px;
  height: 25px;
  width: 95%;
  color: white;
  background-color: rgb(53 50 50 / 79%);
  padding: 3px;
  font-size: 14px;
  margin-top: 1%;
}

.input-fields:focus {
  outline: none;
}

.login-buttons {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  min-width: 64px;
  padding: 3px 16px;
  width: 97%;
  margin: 3% 5% 3% 2%;
  color: rgb(255, 255, 255);
  border: none;
  outline: none;
  font-size: 18px;
  border-radius: 40px;
  background-color: rgb(255, 93, 59);
}

.login-buttons:disabled {
  background-color: grey;
}
